.task-list {
    list-style-type: none;
}

.task-item-container{
    display: grid;
    grid-template-columns: 90% auto;
}

.item-text-done {
    text-decoration: line-through;
    color: gray;
}

.item-done {
    cursor: pointer;
}

.item-delete {
    cursor: pointer;
}